div.cover{
    width:auto;
    flex-direction:row;
    display: flex;
    justify-content: right;
    align-items: center;
    background: rgb(233,233,255);
    border-radius: 1px;
    padding:0 5px;
}

div > div.icon-cover{
    width: 21px;
    height: 21px;
    padding: 0 3px;
}

div > input[type=text]{
    height: 25px;
    font-size: larger;
    border: none;
    outline: none;
    background-color: transparent;
}

div > hr{
    border: none;
    border-left: 1px solid rgb(200,200,200);
    height: 25px;
    padding: 0 2px;
}
