aside{
    position:fixed;
    padding: 0;
    top:0px;
    height: 100%;
    z-index: 1;
    background-color: rgba(0,0,0);
    color:white;
    transition:width 1s ease-in-out;
    overflow: hidden;
}

aside.inactive{
    width: 0;
}

aside.active{
    width:377px;
}

aside > div{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    display: flex;
    flex-direction: row;
    align-items: center;
}

aside > div.close{
    font-size: xx-large;
    cursor: pointer;
}

aside > div.separator{
    border-bottom:1px solid rgba(233,233,233,0.618) ;
}
